body{

background:#0B0B0B;

font-family:Segoe UI;

color:white;

margin:0;

padding:20px;

}

.header{

text-align:center;

margin-bottom:30px;

}

.header h1{

color:#FFD100;

font-size:42px;

text-shadow:
0 0 10px rgba(255,209,0,0.7);

}

.header p{

color:#005BAC;

font-size:18px;

font-weight:bold;

}

.dashboard{

display:grid;

grid-template-columns:
repeat(4,1fr);

gap:15px;

margin-bottom:30px;

}

.kpi{

background:#161616;

padding:20px;

border-radius:12px;

text-align:center;

border-top:5px solid #FFD100;

box-shadow:
0 0 15px rgba(255,209,0,0.2);

}

.kpi h2{

color:#FFD100;

}

.card{

background:#161616;

padding:25px;

border-left:5px solid #005BAC;

border-radius:15px;

box-shadow:
0 0 20px rgba(0,91,172,0.3);

}

label{

display:block;

margin-top:15px;

margin-bottom:5px;

}

input{

width:100%;

padding:12px;

background:#101010;

border:1px solid #005BAC;

border-radius:8px;

color:white;

}

input:focus{

outline:none;

border-color:#FFD100;

box-shadow:
0 0 10px #FFD100;

}

button{

width:100%;

padding:15px;

margin-top:20px;

background:#005BAC;

color:white;

font-size:18px;

font-weight:bold;

border:none;

border-radius:10px;

cursor:pointer;

}

button:hover{

background:#FFD100;

color:black;

box-shadow:
0 0 20px #FFD100;

}

.result{

margin-top:30px;

background:#161616;

padding:20px;

border-radius:15px;

border-left:5px solid #D71920;

box-shadow:
0 0 15px rgba(215,25,32,0.3);

}

.result h2{

color:#D71920;

}

.pass{

color:#FFD100;

}

.fail{

color:#D71920;

}

@media(max-width:768px){

.dashboard{

grid-template-columns:1fr;

}

}
